/**
*
*  存放公共样式和变量
*
*/


//顶部高度变量
$page_header_height:70px;
//距离下方内容的距离
$page_header_margin_bottom:4px;

//蓝色
$zngl_blue: #47A4EC;
//橙色
$zngl_orange: #F89702;
//红色
$zngl_red: #F56C6C;
// 绿色
$zngl_green: #67C23A;


//蓝色
.zngl_blue {
    color: $zngl_blue;
}
//橙色
.zngl_orange {
    color: $zngl_orange;
}
//红色
.zngl_red {
    color: $zngl_red;
}
//绿色
.zngl_green {
    color: $zngl_green;
}

