//存放公共样式

//自定义滚动条
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    border: none;
    overflow-x: visible;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    padding: 0;
    border: none;
    width: 20px;
}

/*el-image 占位图样式*/
.img_slot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(245, 247, 250);
    color: #000;
}

// 隐藏滚动条
.scrollbar_nowidth {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*position*/

.z_relative,
.z_rela {
    position: relative;
}
.z_absolute,
.z_abso {
    position: absolute;
}


/*flex*/

.z_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.z_flex_wrap {
    flex-wrap: wrap;
}
.z_flex_nowrap {
    flex-wrap: nowrap;
}
.z_col_center {
    align-items: center;
}
.z_col_top {
    align-items: flex-start;
}
.z_col_bottom {
    align-items: flex-end;
}
.z_row_center {
    justify-content: center;
}
.z_row_left {
    justify-content: flex-start;
}
.z_row_right {
    justify-content: flex-end;
}
.z_row_between {
    justify-content: space-between;
}
.z_row_around {
    justify-content: space-around;
}
.z_flex_col {
    display: flex;
    flex-direction: column;
}

.z_flex_shrink {
    flex-shrink: 0;
}


/*text-align*/

.z_text_left {
    text-align: left;
}
.z_text_center {
    text-align: center;
}
.z_text_right {
    text-align: right;
}


/*min-width*/
.min_width_0 {
    min-width: 0;
}

.z_csp {
    cursor: pointer;
}

.z_clearfix {
    *zoom: 1;

    /*ie6 7 不支持伪元素*/
    &:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        line-height: 0;
        //允许浏览器渲染它，但是不显示出来
        visibility: hidden;
    }
}

/*display*/

.z_ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.z_dn {
    display: none;
}
.z_db {
    display: block;
}

/*wrap*/

.z_nowrap {
    word-wrap: normal;
    white-space: nowrap;
}
.z_wrap {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.z_oh {
    overflow: hidden;
}

.z_font_bold {
    font-weight: bold;
}

.z_w_100 {
    width: 100%;
}

.z_h_100 {
    height: 100%;
}
